# Executables
*.exe

# User-specific data
wow_settings.dat
user
assets
license

# Scripts data (local only)
scripts_data/

# Scripts folder - ignore current contents (local only)
scripts/.api/
scripts/common
scripts/core_lua
scripts/core_universal_kicks
scripts/core_universal_utility
scripts/ext_0_plugin_universal_affix
scripts/ext_0_plugin_universal_dispels
scripts/ext_0_plugin_universal_items
scripts/ext_0_plugin_universal_racials
scripts/ext_0_plugin_universal_reflects
