# Executables
*.exe

# User-specific data
wow_settings.dat
user
assets
license
CLAUDE.md
.claude/

# Scripts data (local only)
scripts_data/

# Scripts folder - ignore current contents (local only)
scripts/.api/
scripts/common
scripts/core_lua
scripts/core_universal_kicks
scripts/core_universal_utility
scripts/ext_0_plugin_universal_affix
scripts/ext_0_plugin_universal_dispels
scripts/ext_0_plugin_universal_items
scripts/ext_0_plugin_universal_racials
scripts/ext_0_plugin_universal_reflects
/scripts_log
nul
/export_map
*.bat
*.ps1
/screenshots
build_error.txt
build_output.txt
Research1.txt
*.txt
GEMINI.md
*.py

# Auto Claude data directory
.auto-claude/
/.worktrees
scripts/LX_UI/.claude_settings.json
